@charset "utf-8";
* {box-sizing:border-box}
body {
	background-color: #5a154b;
}
/*SlideshowIn*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*SlideshowEnd*/

.encabezado {
	width: 100%;
	height: 90px;
	background-color: #FFFFFF;
	padding-left: 0px;
	border-collapse: separate;
	border-spacing: 6px 6px;
	position: fixed;
	border-radius: 15px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1;
}
.logo  {
	width: 20%;
	height: 80px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: center;
	background-image: url(../img/Layer%201.png);
	background-repeat: no-repeat;
	background-position: 5% -1%;
	background-size: contain;
	background-clip: content-box;
	margin-top: 5px;
	margin-left: 45px;
}
nav  {
	width: 100%;
	height: 80px;
	margin-left: 225px;
	margin-top: -80px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: #5a154b;
}
.menu1 {
	width: 15%;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: x-large;
	text-align: center;
	font-style: oblique;
	font-variant: normal;
	font-weight: bolder;
	float: none;
	margin-left: 60px;
	color: #5a154b;
}
nav .menu1 a {
	text-decoration: none;
	color: #5a154b;
}
.menu2 {
	width: 15%;
	height: 40px;
	margin-top: -60px;
	margin-left: 300px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: x-large;
	text-align: center;
	font-style: oblique;
	font-variant: normal;
	font-weight: bolder;
	float: none;
}
nav .menu2 a {
	text-decoration: none;
	color: #5a154b;
}
.menu3 {
	width: 15%;
	height: 40px;
	margin-top: -40px;
	margin-left: 550px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: x-large;
	text-align: center;
	font-style: oblique;
	font-variant: normal;
	font-weight: bolder;
	float: none;
}
nav .menu3 a {
	text-decoration: none;
	color: #5a154b;
}
.menu4 {
	width: 15%;
	height: 40px;
	margin-top: -40px;
	margin-left: 800px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: x-large;
	text-align: center;
	font-style: oblique;
	font-variant: normal;
	font-weight: bolder;
	float: none;
}
nav .menu4 a {
	text-decoration: none;
	color: #5a154b;
}
#Inicio {
	height: 900px;
	width: 100%;
	background-color: #D1E9EC;
	border-radius: 40px;
	margin-top: 100px;
	padding-top: 90px;
}
#Inicio h1  {
	width: 50%;
	margin-left: 25%;
	-webkit-box-shadow: 5px 5px 5px #090909;
	box-shadow: 5px 5px 5px #090909;
	background-color: #5A154B;
	border-radius: 15px;
	color: #FFFFFF;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 15px;
}
#Inicio #wowslider-container1 {
	position: static;
}


#QuienesSomos  {
	width: 100%;
	height: 900px;
	background-color: #FEFEFE;
	border-radius: 40px;
	padding-top: 50px;
}
#QuienesSomos h2  {
	width: 50%;
	margin-left: 25%;
	-webkit-box-shadow: 5px 5px 5px #090909;
	box-shadow: 5px 5px 5px #090909;
	background-color: #5A154B;
	border-radius: 15px;
	color: #FFFFFF;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 73px;
}
#QuienesSomos .parte2 {
	width: 100%;
	height: 330px;
	background-image: url(../img/parte2.png);
	background-repeat: no-repeat;
	margin-left: 161px;
}


#QuienesSomos .texto {
	color: #000000;
	font-size: large;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: bolder;
	text-align: center;
}
#QuienesSomos .texto img {
	margin-left: 50px;
}


#Actividades {
	width: 100%;
	height: 900px;
	background-color: #D1E9EC;
	border-radius: 45px;
	margin-top: -15px;
	padding-top: 90px;
}



#Actividades h3 {
	width: 50%;
	margin-left: 25%;
	-webkit-box-shadow: 5px 5px 5px #090909;
	box-shadow: 5px 5px 5px #090909;
	background-color: #5A154B;
	border-radius: 15px;
	color: #FFFFFF;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 15px;
	height: 29px;
}
#Actividades .video video {
	width: 80%;
	height: 600px;
	margin-left: 130px;
	margin-top: 30px;
}
.parte4{
	background-image: url(../img/2-01.png);
	background-repeat: no-repeat;
	width: 60%;
	height: 301px;
	margin-left: 20%;
}

#Contacto {
	width: 100%;
	height: 1200px;
	background-color: #eee;
	border-radius: 45px;
	padding-top: 90px;
}
#Contacto h4 {
	width: 50%;
	margin-left: 25%;
	-webkit-box-shadow: 5px 5px 5px #090909;
	box-shadow: 5px 5px 5px #090909;
	background-color: #5A154B;
	border-radius: 15px;
	color: #FFFFFF;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 21px;
	height: 24px;
}
.parte5{
	background-image: url(../img/rawpixel-771284-unsplash-01-01.jpg);
	background-repeat: no-repeat;
	width: 60%;
	height: 500px;
	margin-left: 0px;
}

.forma {
	padding-top: 0px;
	margin-top: -450px;
	margin-left: 62%;
}
facebook {
	margin-left: -199px;
	margin-top: -31px;
}

@media (max-width:767px){
.encabezado {
	height: 200px;
}
.logo  {
	width: 50%;
	height: 110px;
	margin-left: 40%;
}
nav  {
	margin-left: 0px;
	margin-top: 0px;
}
.menu1 {
	font-size: 14pt;
	margin-left: 5%;
}
.menu2 {
	font-size: 14pt;
	margin-left: 25%;
}
.menu3 {
	font-size: 14pt;
	margin-left: 50%;
}
.menu4 {
	font-size: 14pt;
	margin-left: 75%;
}
#Inicio {
	padding-top: 200px;
}
#QuienesSomos  {
	padding-top: 160px;
}
#QuienesSomos .parte2 {
	width: 100%;
	height: 330px;
	margin-left: 0px;
}
#Actividades {
	padding-top: 200px;
}
#Actividades .video video {
	width: 100%;
	height: 400px;
	margin-left: 0px;
}
.parte4{
	width: 100%;
	margin-left: 0px;
}
.parte5{
	width: 100%;
	height: 300px;
	margin-left: 0px;
}
#Contacto {
	padding-top: 200px;
}
#Contacto div {
	margin-top: 10px;
	margin-left: 0px;
}

}




/* reglas CSS para formulario */
.form-consulta {max-width: 500px; background: #eee; padding: 25px; font-family: 'Source Sans Pro', sans-serif;}


.campo-form {width:100%; height:36px; margin:2px 0 6px; padding-left:6px; box-sizing: border-box; border-radius:3px; border:0; font-family: 'Source Sans Pro', sans-serif; font-size:1em;}
label span {color: #f00}
textarea {min-height: 150px!important;}
.btn-form {display: inline-block; border:0; background: #000; height: 46px; line-height: 46px; padding: 0 20px; border-radius: 6px; color:#fff; text-decoration: none; text-transform: uppercase; letter-spacing: 1px}
.btn-form:hover {background: #444}
/* reglas CSS para formulario */
.form-consulta {max-width: 500px; background: #eee; padding: 25px; font-family: 'Source Sans Pro', sans-serif;}
.campo-form {width:100%; height:36px; margin:2px 0 6px; padding-left:6px; box-sizing: border-box; border-radius:3px; border:0; font-family: 'Source Sans Pro', sans-serif; font-size:1em;}
label span {color: #f00}
textarea {min-height: 150px!important;}
.btn-form {display: inline-block; border:0; background: #000; height: 46px; line-height: 46px; padding: 0 20px; border-radius: 6px; color:#fff; text-decoration: none; text-transform: uppercase; letter-spacing: 1px}
.btn-form:hover {background: #444}

